@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  user-select: none;
}

.animated-underline {
  text-decoration: none;
  background-image: linear-gradient(#fff, #fff), linear-gradient(#000, #000);
  background-size: 100% 0.25rem, 100% 0.25rem;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat, no-repeat;
  transition: background-size 200ms linear;
}

.animated-underline:hover {
  background-size: 0 0.25rem, 100% 0.25rem;
}

@font-face {
  font-family: 'CircularStd';
  src: local('CircularStd-BoldItalic'),
    url('../fonts/CircularStd-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'CircularStd';
  src: local('CircularStd-BookItalic'),
    url('../fonts/CircularStd-BookItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'CircularStd';
  src: local('CircularStd-MediumItalic'),
    url('../fonts/CircularStd-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'CircularStd';
  src: local('CircularStd-Black'),
    url('../fonts/CircularStd-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CircularStd';
  src: local('CircularStd-Book'),
    url('../fonts/CircularStd-Book.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CircularStd';
  src: local('CircularStd-Medium'),
    url('../fonts/CircularStd-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CircularStd';
  src: local('CircularStd-Bold'),
    url('../fonts/CircularStd-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CircularStd';
  src: local('CircularStd-BlackItalic'),
    url('../fonts/CircularStd-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
