<div
  class="group absolute bottom-0 right-0 flex items-baseline font-light text-gray-500 hover:text-gray-900"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 20 20"
    fill="currentColor"
    class="mr-1 h-4 w-4 group-hover:animate-bounce"
  >
    <path
      fill-rule="evenodd"
      d="M10 17a.75.75 0 01-.75-.75V5.612L5.29 9.77a.75.75 0 01-1.08-1.04l5.25-5.5a.75.75 0 011.08 0l5.25 5.5a.75.75 0 11-1.08 1.04l-3.96-4.158V16.25A.75.75 0 0110 17z"
      clip-rule="evenodd"></path>
  </svg>

  <a href="#" class="text-sm">
    Back to top
    <span
      class="block h-px max-w-0 bg-black transition-all duration-300 group-hover:max-w-full"
    >
    </span>
  </a>
</div>
