<div
  class="group absolute -bottom-10 right-0 md:-left-0 flex items-center font-light text-gray-500 hover:text-gray-900"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    class="mr-1 h-4 w-4"
  >
    <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18"
    ></path>
  </svg>

  <a href="/" class="text-sm">
    Back home
    <span class="block h-px max-w-0 bg-black transition-all duration-300 group-hover:max-w-full">
    </span>
  </a>
</div>
