---
import BackToTop from "@/components/BackToTop.astro"

interface Props {
  id: string
  title: string
}

const { id, title } = Astro.props
---

<section id={id} class="flex min-h-screen items-center">
  <div class="relative h-full w-full">
    <h2 class="mb-8 text-3xl font-bold md:text-4xl">{title}</h2>
    <slot />
    <BackToTop />
  </div>
</section>
